body {
    max-width: 900px;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    background: #1a1a1a;
    color: #fafafa;
    font-family: monospace;
}

h1, h2 {
    font-weight: 500;
    letter-spacing: 12px;
    margin-top: 3rem;
}

h3 {
    font-weight: 300;
    letter-spacing: 6px;
    margin-top: 2rem;
}

.intro {
    font-style: italic;
}

.links {
    font-size: 12px;
    font-style: italic;
}

a {
    color: #adadff;
    text-decoration: none;
}
a:visited {
    color: #dfadff;
    text-decoration: none;
}
