/* binariter style */

/* main */
body {
    font-family: Roboto Mono, monospace;

    margin: 50px;
    
    background-image: url(images/bg.png);
    background-attachment: fixed;
    
    color: #0f0;
}

hr {
    border-color: #0f0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 1px solid #0f0;
  text-align: left;
  padding: 8px;
}
td {
    border: 1px solid #0f0;
    text-align: right;
    padding: 8px;
}