/* Random Hexcode Generator stylesheet */

html, body, .hex {
    height: 100%;
    overflow-y: hidden;
    font-family: Roboto Mono, monospace;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.hex {
    display: flex;
    align-items: center;
    justify-content: center;
}